.nav{
    display: flex;
    justify-content: space-evenly;
    background: #f5f7fa;
}
.mid-section{
    display: flex;
    gap: 15px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.mid-section > p{
    color: #4d4d4d;
    font-size: 16px;
}
.hero-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
    background-color: #f5f7fa;
    padding-bottom: 90px;
}
.hero-section > div >h2{
    color: #4d4d4d;
    font-size: 40px;
    font-weight: bolder;
}
.client-numbers{
    color: #4d4d4d;
    padding-top: 50px;
    text-align: center;
}
.client-logo{
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 120px;
}
.icons-space{
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 250px;
    padding-top: 30px;
}
.memberships{
    display: flex;
    color: #4d4d4d;
    justify-content: center;
    text-align: center;
    gap: 70px;
    padding-top: 30px;
    align-items: center;
}
.second-hero-section{
    display: flex;
    justify-content: space-evenly;
    color: #4d4d4d;
    padding: 80px 100px;
    align-items: center;
}
.second-hero-section > div > h2{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    font-weight: bold;
    font-size: 30px;
}
.statistics{
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f7fa;
    padding: 50px;
    color: #4d4d4d;
}
.statistics > div > h2{
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}
.statistics-numbers{
    display: flex;
    gap: 120px;
}
.third-hero-section{
    display: flex;
    justify-content: space-evenly;
    color: #4d4d4d;
    padding: 80px 100px;
    align-items: center;
}
.third-hero-section > div > h2{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    font-weight: bold;
    font-size: 30px;
}
.tesla{
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f7fa;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
}
.image-containers{
    display: flex;
    justify-content: space-evenly;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 100px;
    /*align-items: flex-start;*/
}
.image-box{
    position: relative;
}
.overlay-text{
    background-color: #f5f7fa;
    position: absolute;
    top: 190px;
    right: 40px;
    left: 40px;
    bottom: -55px;
    border-radius: 20px;
    box-shadow: 0 10px #e6ecf2;
}
.end-of-page{
    justify-content: center;
    text-align: center;
    background: #f5f7fa;
    padding: 20px;
}
.footer{
    display: flex;
    padding-bottom: 40px;
    background: #263238;
    justify-content: space-evenly;
}